<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Icon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/compiled/shared.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/compiled/app.css" />
</head>
<body>
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Icon</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>
    
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="content-container">
        <video class="main-content" autoplay></video>
    </div>
    <div class="content-container" id="screenshot-container"></div>
    <canvas style="display:none;"></canvas>
    <div class="button-container">
        <button type="button" id="screenshot-button">Take Photo</button>
    </div>
    <script src="../scripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.js"></script>
</body>
</html>